* {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 72px;
}

body {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}


#header {
    position:absolute;
    top: 50%;
    text-align: center;
    color: white;
    width: 100%;
}
