{% load staticfiles %}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{% url 'home' %}">cozy</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <div id="intro-search-bar" class="input-group">
            <span class="dropdown input-group-addon">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>

          </span>
          <input type="text" placeholder="Search..." class="form-control"></input>
        </div>
        </div>

        <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user }}, <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
        </span>
    </div>
</nav>
